name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  generate-integration:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.25
    - name: Install mage
      run: go install github.com/magefile/mage@latest
    - name: Generate integration cluster's resources
      run: rm -rf resources/clusters/integration/rhobsi01uw2 && mage build:cluster rhobsi01uw2
    - name: Git status
      run: git status
    - name: Check clean directory
      run: test -z "$(git status --porcelain)"
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.25
    - name: Vendor
      run: make vendor_jsonnet
    - name: Build
      run: make grafana manifests prometheusrules
    - name: Format
      run: make format
    - name: Lint
      run: make lint
    - name: Validate
      run: make validate
    - name: Diff
      run: git diff --exit-code
