name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  rhobsi01uw2:
    uses: ./.github/workflows/generate.yaml
    with:
      cluster: rhobsi01uw2
  rhobss01ue1:
    uses: ./.github/workflows/generate.yaml
    with:
      cluster: rhobss01ue1
  rhobss01uw2:
    uses: ./.github/workflows/generate.yaml
    with:
      cluster: rhobss01uw2
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.25
    - name: Vendor
      run: make vendor_jsonnet
    - name: Build
      run: make grafana manifests prometheusrules hcp-rules
    - name: Format
      run: make format
    - name: Lint
      run: make lint
    - name: Validate
      run: make validate
    - name: Diff
      run: git diff --exit-code
