apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/component: alertmanager
    app.kubernetes.io/instance: observatorium
    app.kubernetes.io/name: alertmanager
    app.kubernetes.io/part-of: observatorium
  name: alertmanager
  namespace: rhobs-int
